@@if(bannerNo === "one"){
    <!-- Begin Banner Area -->
    <div class="banner-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-6 custom-xxs-col">
                    <div class="banner-item img-hover_effect">
                        <div class="banner-img">
                            <a href="javascrip:void(0)">
                                <img src="assets/images/banner/1-1.jpg" alt="Banner">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6 custom-xxs-col">
                    <div class="banner-item img-hover_effect">
                        <div class="banner-img">
                            <a href="javascrip:void(0)">
                                <img src="assets/images/banner/1-2.jpg" alt="Banner">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6 custom-xxs-col">
                    <div class="banner-item img-hover_effect">
                        <div class="banner-img">
                            <a href="javascrip:void(0)">
                                <img src="assets/images/banner/1-3.jpg" alt="Banner">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End Here -->
}
@@if(bannerNo === "two"){
    <!-- Begin Banner Area Two -->
    <div class="banner-area banner-area-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner-item img-hover_effect">
                        <div class="banner-img">
                            <a href="javascrip:void(0)">
                                <img class="img-full" src="assets/images/banner/1-4.jpg" alt="Banner">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="banner-item img-hover_effect">
                        <div class="banner-img">
                            <a href="javascrip:void(0)">
                                <img class="img-full" src="assets/images/banner/1-5.jpg" alt="Banner">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area Two End Here -->
}
@@if(bannerNo === "three"){
    <!-- Begin Banner Area Three -->
    <div class="banner-area-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-6 custom-xxs-col">
                    <div class="banner-item img-hover_effect">
                        <div class="banner-img">
                            <a href="javascrip:void(0)">
                                <img class="img-full" src="assets/images/banner/2-1.jpg" alt="Banner">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6 custom-xxs-col">
                    <div class="banner-item img-hover_effect">
                        <div class="banner-img">
                            <a href="javascrip:void(0)">
                                <img class="img-full" src="assets/images/banner/2-2.jpg" alt="Banner">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-6 custom-xxs-col">
                    <div class="banner-item img-hover_effect">
                        <div class="banner-img">
                            <a href="javascrip:void(0)">
                                <img class="img-full" src="assets/images/banner/2-3.jpg" alt="Banner">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area Three End Here -->
}
@@if(bannerNo === "four"){
    <!-- Begin Kenne's Banner Area Four -->
    <div class="kenne-banner_area kenne-banner_area-4">
        <div class="banner-img"></div>
        <div class="banner-content">
            <h3>Get exclusive Products.</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
            <div class="contact-us">
                <a href="callto://+123123321345">(+123) 123 321 345</a>
            </div>
            <div class="kenne-btn-ps_center">
                <a class="kenne-btn transparent-btn" href="shop-left-sidebar.html">Shop Now</a>
            </div>
        </div>
    </div>
    <!-- Kenne's Banner Area Four End Here -->
}
@@if(bannerNo === "five"){
    <!-- Begin Banner Area Five -->
    <div class="banner-area-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-item img-hover_effect">
                        <div class="banner-img"></div>
                        <div class="banner-content">
                            <span>In-Store & Online</span>
                            <h3>
                                Men's Backpack
                                <br>
                                Wallets & More!
                            </h3>
                            <div class="kenne-btn-ps_center">
                                <a class="kenne-btn transparent-btn black-color square-btn" href="shop-left-sidebar.html">Discover Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area Five End Here -->
}