<!-- Begin Coming Area -->
<div class="comming-soon-area bg-img height-100vh d-flex align-items-center overlay rel-area"
    style="background-image: url(assets/images/coming-soon/bg-1.jpg);">
    <span class="effect-body ice_effect"></span>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 ml-auto mr-auto">
                <div class="comming-soon-wrap text-center">
                    <div class="comming-soon-top">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/menu/logo/2.png" alt="Logo">
                            </a>
                        </div>
                        <h3>We are coming very soon...</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text</p>
                    </div>
                    <div class="DateCountdown" data-date="2019-12-25 00:00:00"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-10 ml-auto mr-auto">
                <div class="subscribe-area mt-110 text-center">
                    <h4>Subscribe for our next update</h4>
                    <div id="mc_embed_signup" class="subscribe-form">
                        <form
                            action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll" class="mc-form">
                                <input type="email" value="" name="EMAIL" class="email" placeholder="Enter your e-mial"
                                    required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div class="mc-news" aria-hidden="true"><input type="text"
                                        name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe"
                                        id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Coming Area End Here -->