<!-- Begin Kenne's Instagram Area -->
<div class="kenne-instagram_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="kenne-section_area">
                    <h3>Instagram Feed</h3>
                    <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="kenne-element-carousel instagram-slider arrow-style arrow-style-3" data-slick-options='{
                    "slidesToShow": 5,
                    "slidesToScroll": 1,
                    "infinite": false,
                    "arrows": true,
                    "dots": false,
                    "spaceBetween": 30
                    }' data-slick-responsive='[
                    {"breakpoint":1200, "settings": {
                    "slidesToShow": 5
                    }},
                    {"breakpoint":992, "settings": {
                    "slidesToShow": 4
                    }},
                    {"breakpoint":768, "settings": {
                    "slidesToShow": 3
                    }},
                    {"breakpoint":576, "settings": {
                    "slidesToShow": 2
                    }},
                    {"breakpoint":480, "settings": {
                    "slidesToShow": 1
                    }}
                ]'>
    
                <div class="single-item img-hover_effect">
                    <div class="instagram-img">
                        <a href="javascript:void(0)">
                            <img src="assets/images/instagram/1.jpg" alt="Kenne's Instagram Image">
                        </a>
                    </div>
                </div>
                <div class="single-item img-hover_effect">
                    <div class="instagram-img">
                        <a href="javascript:void(0)">
                            <img src="assets/images/instagram/2.jpg" alt="Kenne's Instagram Image">
                        </a>
                    </div>
                </div>
                <div class="single-item img-hover_effect">
                    <div class="instagram-img">
                        <a href="javascript:void(0)">
                            <img src="assets/images/instagram/3.jpg" alt="Kenne's Instagram Image">
                        </a>
                    </div>
                </div>
                <div class="single-item img-hover_effect">
                    <div class="instagram-img">
                        <a href="javascript:void(0)">
                            <img src="assets/images/instagram/4.jpg" alt="Kenne's Instagram Image">
                        </a>
                    </div>
                </div>
                <div class="single-item img-hover_effect">
                    <div class="instagram-img">
                        <a href="javascript:void(0)">
                            <img src="assets/images/instagram/5.jpg" alt="Kenne's Instagram Image">
                        </a>
                    </div>
                </div>
                <div class="single-item img-hover_effect">
                    <div class="instagram-img">
                        <a href="javascript:void(0)">
                            <img src="assets/images/instagram/6.jpg" alt="Kenne's Instagram Image">
                        </a>
                    </div>
                </div>
                <div class="single-item img-hover_effect">
                    <div class="instagram-img">
                        <a href="javascript:void(0)">
                            <img src="assets/images/instagram/7.jpg" alt="Kenne's Instagram Image">
                        </a>
                    </div>
                </div>
                <div class="single-item img-hover_effect">
                    <div class="instagram-img">
                        <a href="javascript:void(0)">
                            <img src="assets/images/instagram/1.jpg" alt="Kenne's Instagram Image">
                        </a>
                    </div>
                </div>
                <div class="single-item img-hover_effect">
                    <div class="instagram-img">
                        <a href="javascript:void(0)">
                            <img src="assets/images/instagram/2.jpg" alt="Kenne's Instagram Image">
                        </a>
                    </div>
                </div>
                <div class="single-item img-hover_effect">
                    <div class="instagram-img">
                        <a href="javascript:void(0)">
                            <img src="assets/images/instagram/3.jpg" alt="Kenne's Instagram Image">
                        </a>
                    </div>
                </div>
    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Kenne's Instagram Area End Here -->