@@if(spStyle === "one"){
    <!-- Begin Kenne's Gallery Left Area -->
    <div class="sp-area sp-gallery_area">
        <div class="container">
            <div class="sp-nav">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="sp-gallery">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="assets/images/product/1-1.jpg"
                                                alt="Kenne's Product image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                                <img class="img-full" src="assets/images/product/2-1.jpg"
                                                    alt="Kenne's Product image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                                <img class="img-full" src="assets/images/product/3-1.jpg"
                                                    alt="Kenne's Product image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                                <img class="img-full" src="assets/images/product/4-1.jpg"
                                                    alt="Kenne's Product image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="sp-content">
                            <div class="sp-heading">
                                <h5><a href="#">Aliquid rerum ipsam maxime</a></h5>
                            </div>
                            <span class="reference">Reference: demo_1</span>
                            <div class="rating-box">
                                <ul>
                                    <li><i class="ion-android-star"></i></li>
                                    <li><i class="ion-android-star"></i></li>
                                    <li><i class="ion-android-star"></i></li>
                                    <li class="silver-color"><i class="ion-android-star"></i></li>
                                    <li class="silver-color"><i class="ion-android-star"></i></li>
                                </ul>
                            </div>
                            <div class="sp-essential_stuff">
                                <ul>
                                    <li>Brands <a href="javascript:void(0)">Buxton</a></li>
                                    <li>Product Code: <a href="javascript:void(0)">Product 16</a></li>
                                    <li>Reward Points: <a href="javascript:void(0)">100</a></li>
                                    <li>Availability: <a href="javascript:void(0)">In Stock</a></li>
                                    <li>EX Tax: <a href="javascript:void(0)"><span>$453.35</span></a></li>
                                    <li>Price in reward points: <a href="javascript:void(0)">400</a></li>
                                </ul>
                            </div>
                            <div class="product-size_box">
                                <span>Size</span>
                                <select class="myniceselect nice-select">
                                    <option value="1">S</option>
                                    <option value="2">M</option>
                                    <option value="3">L</option>
                                    <option value="4">XL</option>
                                </select>
                            </div>
                            <div class="quantity">
                                <label>Quantity</label>
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" value="1" type="text">
                                    <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                    <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                </div>
                            </div>
                            <div class="qty-btn_area">
                                <ul>
                                    <li><a class="qty-cart_btn" href="cart.html">Add To Cart</a></li>
                                    <li><a class="qty-wishlist_btn" href="wishlist.html" data-toggle="tooltip"
                                            title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    </li>
                                    <li><a class="qty-compare_btn" href="compare.html" data-toggle="tooltip"
                                            title="Compare This Product"><i class="ion-ios-shuffle-strong"></i></a></li>
                                </ul>
                            </div>
                            <div class="kenne-tag-line">
                                <h6>Tags:</h6>
                                <a href="javascript:void(0)">scarf</a>,
                                <a href="javascript:void(0)">jacket</a>,
                                <a href="javascript:void(0)">shirt</a>
                            </div>
                            <div class="kenne-social_link">
                                <ul>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com" data-toggle="tooltip" target="_blank"
                                            title="Facebook">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="https://twitter.com" data-toggle="tooltip" target="_blank"
                                            title="Twitter">
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                    </li>
                                    <li class="youtube">
                                        <a href="https://www.youtube.com" data-toggle="tooltip" target="_blank"
                                            title="Youtube">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li class="google-plus">
                                        <a href="https://www.plus.google.com/discover" data-toggle="tooltip"
                                            target="_blank" title="Google Plus">
                                            <i class="fab fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://rss.com" data-toggle="tooltip" target="_blank"
                                            title="Instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Kenne's Gallery Left Area End Here -->
}
@@if(spStyle === "two"){
    <!-- Begin Kenne's Gallery Right Area -->
    <div class="sp-area sp-gallery_area sp-gallery-right_area">
        <div class="container">
            <div class="sp-nav">
                <div class="row">
                    <div class="col-lg-6 order-lg-2 order-1">
                        <div class="sp-gallery">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="assets/images/product/1-1.jpg"
                                                alt="Kenne's Product image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="assets/images/product/2-1.jpg"
                                                alt="Kenne's Product image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="assets/images/product/3-1.jpg"
                                                alt="Kenne's Product image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="assets/images/product/4-1.jpg"
                                                alt="Kenne's Product image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1 order-2">
                        <div class="sp-content">
                            <div class="sp-heading">
                                <h5><a href="#">Aliquid rerum ipsam maxime</a></h5>
                            </div>
                            <span class="reference">Reference: demo_1</span>
                            <div class="rating-box">
                                <ul>
                                    <li><i class="ion-android-star"></i></li>
                                    <li><i class="ion-android-star"></i></li>
                                    <li><i class="ion-android-star"></i></li>
                                    <li class="silver-color"><i class="ion-android-star"></i></li>
                                    <li class="silver-color"><i class="ion-android-star"></i></li>
                                </ul>
                            </div>
                            <div class="sp-essential_stuff">
                                <ul>
                                    <li>Brands <a href="javascript:void(0)">Buxton</a></li>
                                    <li>Product Code: <a href="javascript:void(0)">Product 16</a></li>
                                    <li>Reward Points: <a href="javascript:void(0)">100</a></li>
                                    <li>Availability: <a href="javascript:void(0)">In Stock</a></li>
                                    <li>EX Tax: <a href="javascript:void(0)"><span>$453.35</span></a></li>
                                    <li>Price in reward points: <a href="javascript:void(0)">400</a></li>
                                </ul>
                            </div>
                            <div class="product-size_box">
                                <span>Size</span>
                                <select class="myniceselect nice-select">
                                    <option value="1">S</option>
                                    <option value="2">M</option>
                                    <option value="3">L</option>
                                    <option value="4">XL</option>
                                </select>
                            </div>
                            <div class="quantity">
                                <label>Quantity</label>
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" value="1" type="text">
                                    <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                    <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                </div>
                            </div>
                            <div class="qty-btn_area">
                                <ul>
                                    <li><a class="qty-cart_btn" href="cart.html">Add To Cart</a></li>
                                    <li><a class="qty-wishlist_btn" href="wishlist.html" data-toggle="tooltip"
                                            title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    </li>
                                    <li><a class="qty-compare_btn" href="compare.html" data-toggle="tooltip"
                                            title="Compare This Product"><i class="ion-ios-shuffle-strong"></i></a></li>
                                </ul>
                            </div>
                            <div class="kenne-tag-line">
                                <h6>Tags:</h6>
                                <a href="javascript:void(0)">scarf</a>,
                                <a href="javascript:void(0)">jacket</a>,
                                <a href="javascript:void(0)">shirt</a>
                            </div>
                            <div class="kenne-social_link">
                                <ul>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com" data-toggle="tooltip" target="_blank"
                                            title="Facebook">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="https://twitter.com" data-toggle="tooltip" target="_blank"
                                            title="Twitter">
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                    </li>
                                    <li class="youtube">
                                        <a href="https://www.youtube.com" data-toggle="tooltip" target="_blank"
                                            title="Youtube">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li class="google-plus">
                                        <a href="https://www.plus.google.com/discover" data-toggle="tooltip"
                                            target="_blank" title="Google Plus">
                                            <i class="fab fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://rss.com" data-toggle="tooltip" target="_blank"
                                            title="Instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Kenne's Gallery Right Area End Here -->
}
@@if(spStyle === "three"){
    <!-- Begin Kenne's Tab Style Left Area -->
    <div class="sp-area sp-tab-style_left">
        <div class="container">
            <div class="sp-nav">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="sp-img_area">
                            <div class="sp-img_slider slick-img-slider kenne-element-carousel" data-slick-options='{
                                    "slidesToShow": 1,
                                    "arrows": false,
                                    "fade": true,
                                    "draggable": false,
                                    "swipe": false,
                                    "asNavFor": ".sp-img_slider-nav"
                                    }'>
                                <div class="single-slide red zoom">
                                    <img src="assets/images/product/1-1.jpg" alt="Kenne's Product Image">
                                </div>
                                <div class="single-slide orange zoom">
                                    <img src="assets/images/product/1-2.jpg" alt="Kenne's Product Image">
                                </div>
                                <div class="single-slide brown zoom">
                                    <img src="assets/images/product/2-1.jpg" alt="Kenne's Product Image">
                                </div>
                                <div class="single-slide umber zoom">
                                    <img src="assets/images/product/2-2.jpg" alt="Kenne's Product Image">
                                </div>
                                <div class="single-slide black zoom">
                                    <img src="assets/images/product/3-1.jpg" alt="Kenne's Product Image">
                                </div>
                                <div class="single-slide green zoom">
                                    <img src="assets/images/product/3-2.jpg" alt="Kenne's Product Image">
                                </div>
                            </div>
                            <div class="sp-img_slider-nav slick-slider-nav kenne-element-carousel arrow-style-4"
                                data-slick-options='{
                                    "slidesToShow": 3,
                                    "asNavFor": ".sp-img_slider",
                                    "focusOnSelect": true,
                                    "arrows" : true,
                                    "vertical" : true
                                    }' data-slick-responsive='[
                                            {"breakpoint":1501, "settings": {"slidesToShow": 3}},
                                            {"breakpoint":1200, "settings": {"slidesToShow": 2}},
                                            {"breakpoint":992, "settings": {"slidesToShow": 4}},
                                            {"breakpoint":768, "settings": {"slidesToShow": 3}},
                                            {"breakpoint":575, "settings": {"slidesToShow": 2}}
                                        ]'>
                                <div class="single-slide red">
                                    <img src="assets/images/product/1-1.jpg" alt="Kenne's Product Thumnail">
                                </div>
                                <div class="single-slide orange">
                                    <img src="assets/images/product/1-2.jpg" alt="Kenne's Product Thumnail">
                                </div>
                                <div class="single-slide brown">
                                    <img src="assets/images/product/2-1.jpg" alt="Kenne's Product Thumnail">
                                </div>
                                <div class="single-slide umber">
                                    <img src="assets/images/product/2-2.jpg" alt="Kenne's Product Thumnail">
                                </div>
                                <div class="single-slide red">
                                    <img src="assets/images/product/3-1.jpg" alt="Kenne's Product Thumnail">
                                </div>
                                <div class="single-slide orange">
                                    <img src="assets/images/product/3-2.jpg" alt="Kenne's Product Thumnail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="sp-content">
                            <div class="sp-heading">
                                <h5><a href="#">Aliquid rerum ipsam maxime</a></h5>
                            </div>
                            <span class="reference">Reference: demo_1</span>
                            <div class="rating-box">
                                <ul>
                                    <li><i class="ion-android-star"></i></li>
                                    <li><i class="ion-android-star"></i></li>
                                    <li><i class="ion-android-star"></i></li>
                                    <li class="silver-color"><i class="ion-android-star"></i></li>
                                    <li class="silver-color"><i class="ion-android-star"></i></li>
                                </ul>
                            </div>
                            <div class="sp-essential_stuff">
                                <ul>
                                    <li>Brands <a href="javascript:void(0)">Buxton</a></li>
                                    <li>Product Code: <a href="javascript:void(0)">Product 16</a></li>
                                    <li>Reward Points: <a href="javascript:void(0)">100</a></li>
                                    <li>Availability: <a href="javascript:void(0)">In Stock</a></li>
                                    <li>EX Tax: <a href="javascript:void(0)"><span>$453.35</span></a></li>
                                    <li>Price in reward points: <a href="javascript:void(0)">400</a></li>
                                </ul>
                            </div>
                            <div class="product-size_box">
                                <span>Size</span>
                                <select class="myniceselect nice-select">
                                    <option value="1">S</option>
                                    <option value="2">M</option>
                                    <option value="3">L</option>
                                    <option value="4">XL</option>
                                </select>
                            </div>
                            <div class="quantity">
                                <label>Quantity</label>
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" value="1" type="text">
                                    <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                    <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                </div>
                            </div>
                            <div class="qty-btn_area">
                                <ul>
                                    <li><a class="qty-cart_btn" href="cart.html">Add To Cart</a></li>
                                    <li><a class="qty-wishlist_btn" href="wishlist.html" data-toggle="tooltip"
                                            title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    </li>
                                    <li><a class="qty-compare_btn" href="compare.html" data-toggle="tooltip"
                                            title="Compare This Product"><i class="ion-ios-shuffle-strong"></i></a></li>
                                </ul>
                            </div>
                            <div class="kenne-tag-line">
                                <h6>Tags:</h6>
                                <a href="javascript:void(0)">scarf</a>,
                                <a href="javascript:void(0)">jacket</a>,
                                <a href="javascript:void(0)">shirt</a>
                            </div>
                            <div class="kenne-social_link">
                                <ul>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com" data-toggle="tooltip" target="_blank"
                                            title="Facebook">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="https://twitter.com" data-toggle="tooltip" target="_blank"
                                            title="Twitter">
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                    </li>
                                    <li class="youtube">
                                        <a href="https://www.youtube.com" data-toggle="tooltip" target="_blank"
                                            title="Youtube">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li class="google-plus">
                                        <a href="https://www.plus.google.com/discover" data-toggle="tooltip"
                                            target="_blank" title="Google Plus">
                                            <i class="fab fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://rss.com" data-toggle="tooltip" target="_blank"
                                            title="Instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Kenne's Tab Style Left Area End Here -->
}
@@if(spStyle === "four"){
    <!-- Begin Kenne's Tab Style Right Area -->
    <div class="sp-area sp-tab-style_left sp-tab-style_right">
        <div class="container">
            <div class="sp-nav">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="sp-img_area">
                            <div class="sp-img_slider slick-img-slider kenne-element-carousel" data-slick-options='{
                                    "slidesToShow": 1,
                                    "arrows": false,
                                    "fade": true,
                                    "draggable": false,
                                    "swipe": false,
                                    "asNavFor": ".sp-img_slider-nav"
                                    }'>
                                <div class="single-slide red zoom">
                                    <img src="assets/images/product/1-1.jpg" alt="Kenne's Product Image">
                                </div>
                                <div class="single-slide orange zoom">
                                    <img src="assets/images/product/1-2.jpg" alt="Kenne's Product Image">
                                </div>
                                <div class="single-slide brown zoom">
                                    <img src="assets/images/product/2-1.jpg" alt="Kenne's Product Image">
                                </div>
                                <div class="single-slide umber zoom">
                                    <img src="assets/images/product/2-2.jpg" alt="Kenne's Product Image">
                                </div>
                                <div class="single-slide black zoom">
                                    <img src="assets/images/product/3-1.jpg" alt="Kenne's Product Image">
                                </div>
                                <div class="single-slide green zoom">
                                    <img src="assets/images/product/3-2.jpg" alt="Kenne's Product Image">
                                </div>
                            </div>
                            <div class="sp-img_slider-nav slick-slider-nav kenne-element-carousel arrow-style-4"
                                data-slick-options='{
                                    "slidesToShow": 3,
                                    "asNavFor": ".sp-img_slider",
                                    "focusOnSelect": true,
                                    "arrows" : true,
                                    "vertical" : true
                                    }' data-slick-responsive='[
                                            {"breakpoint":1501, "settings": {"slidesToShow": 3}},
                                            {"breakpoint":1200, "settings": {"slidesToShow": 2}},
                                            {"breakpoint":992, "settings": {"slidesToShow": 4}},
                                            {"breakpoint":768, "settings": {"slidesToShow": 3}},
                                            {"breakpoint":575, "settings": {"slidesToShow": 2}}
                                        ]'>
                                <div class="single-slide red">
                                    <img src="assets/images/product/1-1.jpg" alt="Kenne's Product Thumnail">
                                </div>
                                <div class="single-slide orange">
                                    <img src="assets/images/product/1-2.jpg" alt="Kenne's Product Thumnail">
                                </div>
                                <div class="single-slide brown">
                                    <img src="assets/images/product/2-1.jpg" alt="Kenne's Product Thumnail">
                                </div>
                                <div class="single-slide umber">
                                    <img src="assets/images/product/2-2.jpg" alt="Kenne's Product Thumnail">
                                </div>
                                <div class="single-slide red">
                                    <img src="assets/images/product/3-1.jpg" alt="Kenne's Product Thumnail">
                                </div>
                                <div class="single-slide orange">
                                    <img src="assets/images/product/3-2.jpg" alt="Kenne's Product Thumnail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="sp-content">
                            <div class="sp-heading">
                                <h5><a href="#">Aliquid rerum ipsam maxime</a></h5>
                            </div>
                            <span class="reference">Reference: demo_1</span>
                            <div class="rating-box">
                                <ul>
                                    <li><i class="ion-android-star"></i></li>
                                    <li><i class="ion-android-star"></i></li>
                                    <li><i class="ion-android-star"></i></li>
                                    <li class="silver-color"><i class="ion-android-star"></i></li>
                                    <li class="silver-color"><i class="ion-android-star"></i></li>
                                </ul>
                            </div>
                            <div class="sp-essential_stuff">
                                <ul>
                                    <li>Brands <a href="javascript:void(0)">Buxton</a></li>
                                    <li>Product Code: <a href="javascript:void(0)">Product 16</a></li>
                                    <li>Reward Points: <a href="javascript:void(0)">100</a></li>
                                    <li>Availability: <a href="javascript:void(0)">In Stock</a></li>
                                    <li>EX Tax: <a href="javascript:void(0)"><span>$453.35</span></a></li>
                                    <li>Price in reward points: <a href="javascript:void(0)">400</a></li>
                                </ul>
                            </div>
                            <div class="product-size_box">
                                <span>Size</span>
                                <select class="myniceselect nice-select">
                                    <option value="1">S</option>
                                    <option value="2">M</option>
                                    <option value="3">L</option>
                                    <option value="4">XL</option>
                                </select>
                            </div>
                            <div class="quantity">
                                <label>Quantity</label>
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" value="1" type="text">
                                    <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                    <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                </div>
                            </div>
                            <div class="qty-btn_area">
                                <ul>
                                    <li><a class="qty-cart_btn" href="cart.html">Add To Cart</a></li>
                                    <li><a class="qty-wishlist_btn" href="wishlist.html" data-toggle="tooltip"
                                            title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    </li>
                                    <li><a class="qty-compare_btn" href="compare.html" data-toggle="tooltip"
                                            title="Compare This Product"><i class="ion-ios-shuffle-strong"></i></a></li>
                                </ul>
                            </div>
                            <div class="kenne-tag-line">
                                <h6>Tags:</h6>
                                <a href="javascript:void(0)">scarf</a>,
                                <a href="javascript:void(0)">jacket</a>,
                                <a href="javascript:void(0)">shirt</a>
                            </div>
                            <div class="kenne-social_link">
                                <ul>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com" data-toggle="tooltip" target="_blank"
                                            title="Facebook">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="https://twitter.com" data-toggle="tooltip" target="_blank"
                                            title="Twitter">
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                    </li>
                                    <li class="youtube">
                                        <a href="https://www.youtube.com" data-toggle="tooltip" target="_blank"
                                            title="Youtube">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li class="google-plus">
                                        <a href="https://www.plus.google.com/discover" data-toggle="tooltip"
                                            target="_blank" title="Google Plus">
                                            <i class="fab fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://rss.com" data-toggle="tooltip" target="_blank"
                                            title="Instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Kenne's Tab Style Right Area End Here -->
}
@@if(spStyle === "five"){
    <!-- Begin Kenne's Sticky Left Area -->
    <div class="sp-area sp-gallery_area sp-gallery-right_area sp-sticky_area">
        <div class="container">
            <div class="sp-nav">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <div class="sp-gallery sp-sticky_gallery">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="assets/images/product/1-1.jpg" alt="Kenne's product image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="assets/images/product/2-1.jpg" alt="Kenne's product image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="assets/images/product/3-1.jpg" alt="Kenne's product image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="assets/images/product/4-1.jpg" alt="Kenne's product image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="assets/images/product/5-1.jpg" alt="Kenne's product image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="assets/images/product/6-1.jpg" alt="Kenne's product image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sticky-sidebar" class="col-lg-7 col-md-7">
                        <div class="sp-content product-content-sticky">
                            <div class="sp-heading">
                                <h5><a href="#">Aliquid rerum ipsam maxime</a></h5>
                            </div>
                            <span class="reference">Reference: demo_1</span>
                            <div class="rating-box">
                                <ul>
                                    <li><i class="ion-android-star"></i></li>
                                    <li><i class="ion-android-star"></i></li>
                                    <li><i class="ion-android-star"></i></li>
                                    <li class="silver-color"><i class="ion-android-star"></i></li>
                                    <li class="silver-color"><i class="ion-android-star"></i></li>
                                </ul>
                            </div>
                            <div class="sp-essential_stuff">
                                <ul>
                                    <li>Brands <a href="javascript:void(0)">Buxton</a></li>
                                    <li>Product Code: <a href="javascript:void(0)">Product 16</a></li>
                                    <li>Reward Points: <a href="javascript:void(0)">100</a></li>
                                    <li>Availability: <a href="javascript:void(0)">In Stock</a></li>
                                    <li>EX Tax: <a href="javascript:void(0)"><span>$453.35</span></a></li>
                                    <li>Price in reward points: <a href="javascript:void(0)">400</a></li>
                                </ul>
                            </div>
                            <div class="product-size_box">
                                <span>Size</span>
                                <select class="myniceselect nice-select">
                                    <option value="1">S</option>
                                    <option value="2">M</option>
                                    <option value="3">L</option>
                                    <option value="4">XL</option>
                                </select>
                            </div>
                            <div class="quantity">
                                <label>Quantity</label>
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" value="1" type="text">
                                    <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                    <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                </div>
                            </div>
                            <div class="qty-btn_area">
                                <ul>
                                    <li><a class="qty-cart_btn" href="cart.html">Add To Cart</a></li>
                                    <li><a class="qty-wishlist_btn" href="wishlist.html" data-toggle="tooltip"
                                            title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    </li>
                                    <li><a class="qty-compare_btn" href="compare.html" data-toggle="tooltip"
                                            title="Compare This Product"><i class="ion-ios-shuffle-strong"></i></a></li>
                                </ul>
                            </div>
                            <div class="kenne-tag-line">
                                <h6>Tags:</h6>
                                <a href="javascript:void(0)">scarf</a>,
                                <a href="javascript:void(0)">jacket</a>,
                                <a href="javascript:void(0)">shirt</a>
                            </div>
                            <div class="kenne-social_link">
                                <ul>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com" data-toggle="tooltip" target="_blank"
                                            title="Facebook">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="https://twitter.com" data-toggle="tooltip" target="_blank"
                                            title="Twitter">
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                    </li>
                                    <li class="youtube">
                                        <a href="https://www.youtube.com" data-toggle="tooltip" target="_blank"
                                            title="Youtube">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li class="google-plus">
                                        <a href="https://www.plus.google.com/discover" data-toggle="tooltip"
                                            target="_blank" title="Google Plus">
                                            <i class="fab fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://rss.com" data-toggle="tooltip" target="_blank"
                                            title="Instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Kenne's Sticky Left Area End Here -->
}
@@if(spStyle === "six"){
    <!-- Begin Kenne's Sticky Right Area -->
    <div class="sp-area sp-gallery_area sp-gallery-right_area sp-sticky_area">
        <div class="container">
            <div class="sp-nav">
                <div class="row">
                    <div class="col-lg-5 col-md-5 order-lg-2 order-1">
                        <div class="sp-gallery sp-sticky_gallery">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="assets/images/product/1-1.jpg"
                                                alt="Kenne's product image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="assets/images/product/2-1.jpg"
                                                alt="Kenne's product image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="assets/images/product/3-1.jpg"
                                                alt="Kenne's product image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="assets/images/product/4-1.jpg"
                                                alt="Kenne's product image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="assets/images/product/5-1.jpg"
                                                alt="Kenne's product image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="lg-image img-hover_effect">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="assets/images/product/6-1.jpg"
                                                alt="Kenne's product image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sticky-sidebar" class="col-lg-7 col-md-7 order-lg-1 order-2">
                        <div class="sp-content product-content-sticky">
                            <div class="sp-heading">
                                <h5><a href="#">Aliquid rerum ipsam maxime</a></h5>
                            </div>
                            <span class="reference">Reference: demo_1</span>
                            <div class="rating-box">
                                <ul>
                                    <li><i class="ion-android-star"></i></li>
                                    <li><i class="ion-android-star"></i></li>
                                    <li><i class="ion-android-star"></i></li>
                                    <li class="silver-color"><i class="ion-android-star"></i></li>
                                    <li class="silver-color"><i class="ion-android-star"></i></li>
                                </ul>
                            </div>
                            <div class="sp-essential_stuff">
                                <ul>
                                    <li>Brands <a href="javascript:void(0)">Buxton</a></li>
                                    <li>Product Code: <a href="javascript:void(0)">Product 16</a></li>
                                    <li>Reward Points: <a href="javascript:void(0)">100</a></li>
                                    <li>Availability: <a href="javascript:void(0)">In Stock</a></li>
                                    <li>EX Tax: <a href="javascript:void(0)"><span>$453.35</span></a></li>
                                    <li>Price in reward points: <a href="javascript:void(0)">400</a></li>
                                </ul>
                            </div>
                            <div class="product-size_box">
                                <span>Size</span>
                                <select class="myniceselect nice-select">
                                    <option value="1">S</option>
                                    <option value="2">M</option>
                                    <option value="3">L</option>
                                    <option value="4">XL</option>
                                </select>
                            </div>
                            <div class="quantity">
                                <label>Quantity</label>
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" value="1" type="text">
                                    <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                    <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                </div>
                            </div>
                            <div class="qty-btn_area">
                                <ul>
                                    <li><a class="qty-cart_btn" href="cart.html">Add To Cart</a></li>
                                    <li><a class="qty-wishlist_btn" href="wishlist.html" data-toggle="tooltip"
                                            title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    </li>
                                    <li><a class="qty-compare_btn" href="compare.html" data-toggle="tooltip"
                                            title="Compare This Product"><i class="ion-ios-shuffle-strong"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="kenne-tag-line">
                                <h6>Tags:</h6>
                                <a href="javascript:void(0)">scarf</a>,
                                <a href="javascript:void(0)">jacket</a>,
                                <a href="javascript:void(0)">shirt</a>
                            </div>
                            <div class="kenne-social_link">
                                <ul>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com" data-toggle="tooltip" target="_blank"
                                            title="Facebook">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="https://twitter.com" data-toggle="tooltip" target="_blank"
                                            title="Twitter">
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                    </li>
                                    <li class="youtube">
                                        <a href="https://www.youtube.com" data-toggle="tooltip" target="_blank"
                                            title="Youtube">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li class="google-plus">
                                        <a href="https://www.plus.google.com/discover" data-toggle="tooltip"
                                            target="_blank" title="Google Plus">
                                            <i class="fab fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://rss.com" data-toggle="tooltip" target="_blank"
                                            title="Instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Kenne's Sticky Right Area End Here -->
}