@model List<ECommerceFinal.Models.ProductVM>


@{

    ViewBag.Title = "Index";

    int total = 0;
}



<div class="spacer">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>


<!-- Begin Kenne's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Shop Related</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Checkout</li>
            </ul>
        </div>
    </div>
</div>
<!-- Kenne's Breadcrumb Area End Here -->
<!-- Begin Kenne's Checkout Area -->
<div class="checkout-area">
    <div class="container">
        <div class="row">

        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <form action="#" id="billingForm">
                    <div class="checkbox-form">
                        <h3>Billing Details</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="country-select clearfix">
                                    <label>Country <span class="required">*</span></label>
                                    <select class="myniceselect nice-select wide" name="Country">
                                        <option value="pk" data-display="Pakistan">Pakistan</option>
                                        <option value="uk">United Kingdom</option>
                                        <option value="ba">Bangladesh</option>
                                        <option value="fr">France</option>
                                        <option value="ge">Germany</option>
                                        <option value="in">India</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Full Name<span class="required">*</span></label>
                                    <input placeholder="" name="fullname" type="text">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Address <span class="required">*</span></label>
                                    <input placeholder="Street address" name="address" type="text">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Town / City <span class="required">*</span></label>
                                    <input type="text" name="city">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Email Address <span class="required">*</span></label>
                                    <input placeholder="" type="email" name="email">
                                </div>
                            </div>


                        </div>

                        <input value=@total hidden="hidden" name="total" id="formTotal"/>


                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-12">
                <div class="your-order">
                    <h3>Your order</h3>
                    <div class="your-order-table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="cart-product-name">Product</th>
                                    <th class="cart-product-total">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model)
                                {


                                    <tr class="cart_item">
                                        <td class="cart-product-name">
                                            <strong class="product-quantity">
                                                @product.Name × 1
                                            </strong>
                                        </td>
                                        <td class="cart-product-total text-center"><span class="amount">Rs.@product.Price</span></td>
                                    </tr>


                                    total += Convert.ToInt32(product.Price);

                                }
                            </tbody>
                            <tfoot>
                                <
                                <tr class="order-total">
                                    <th>Order Total</th>
                                    <td class="text-center"><strong><span class="amount">Rs.@total</span></strong></td>
                                </tr>
                            </tfoot>
                        </table>
                        <input value=@total id="amounty" hidden="hidden" />

                    </div>
                    <div class="payment-method">
                        <div class="payment-accordion">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="#payment-1">
                                        <h5 class="panel-title">
                                            <a href="#" class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Direct Bank Transfer.
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>
                                                Make your payment directly into our bank account. Please use your Order
                                                ID as the payment
                                                reference. Your order won’t be shipped until the funds have cleared in
                                                our account.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="#payment-2">
                                        <h5 class="panel-title">
                                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Cheque Payment
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>
                                                Make your payment directly into our bank account. Please use your Order
                                                ID as the payment
                                                reference. Your order won’t be shipped until the funds have cleared in
                                                our account.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="#payment-3">
                                        <h5 class="panel-title">
                                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                PayPal
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>
                                                Make your payment directly into our bank account. Please use your Order
                                                ID as the payment
                                                reference. Your order won’t be shipped until the funds have cleared in
                                                our account.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="order-button-payment">
                                <input value="Place order " id="btnOrder" type="button">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Kenne's Checkout Area End Here -->
<script>

    $("#btnOrder").click(function () {

      var total =  $('#amounty').val();


        $('#formTotal').val(total)



        $.ajax(
            {
                type: 'POST',
                url: '/Checkout/Checkout',
                data: $("#billingForm").serialize()
            }
        )
            .done(function (response) {
                alert("Added");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fails");
            });

    });
</script>