
@{
    ViewBag.Title = "Index";
}

<div class="spacer">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>


<!-- Begin Kenne's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Other</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- Kenne's Breadcrumb Area End Here -->

<div class="about-us-area my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5">
                <div class="overview-img text-center img-hover_effect">
                    <a href="#">
                        <img class="img-full" src="~/Content/images/logo.png" alt=" About Us Image">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-7 d-flex align-items-center">
                <div class="overview-content">
                    <h2>Welcome To <span>Kenne's</span> Store!</h2>
                    <p class="short_desc">
                        Whether you are buying new or used, plain or luxurious, commonplace or rare, trendy or one-of-a-kind – if it exists in the world, it probably is for sale on eBay. Our mission is to be the world’s favorite destination for discovering great value and unique selection.
                        We give sellers the platform, solutions, and support they need to grow their businesses and thrive. We measure our success by our customers' success.
                    </p>
                    <div class="kenne-about-us_btn-area">
                        <a class="about-us_btn" href="@Url.Action("Index", "Shop")">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Kenne's About Us Area End Here -->
