
@{
    ViewBag.Title = "Create Category";
}

<h3 class="mx-3">Create Category</h3>


<div class="container-fluid">
    <form id="createCategory">

        <div class="row">
            <div class="col-lg-6 ">


                <div class="row">
                    <div class="col-lg-10 mx-5">
                        <div class="form-group">
                            <label>Category Name</label>
                            <input name="name"  class="form-control" />
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-lg-10 mx-5">
                        <div class="form-group">
                            <label> Description</label>
                            <input name="description" class="form-control" />
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-10 mx-5">
                        <input id="ImagePath" value="" name="ImagePath" type="hidden" />

                        <div class="col-lg-10 mx-5">
                            <div class="order-button-payment">
                                <input id="imageUpload" name="Image" type="file" accept=".jpg,.jpeg,.png" />

                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-lg-10 mx-5">
                    <div class="order-button-payment">
                        <input id="btnSave" value="Save Category" type="button" />

                    </div>
                </div>


            </div>

            <div class="col-lg-6 ">

                <img id="prodImage" class="img img-fluid" width="800" height="600" />
            </div>
        </div>


    </form>


</div>
<script>
    $("#btnSave").click(function () {
        $.ajax(
            {
                type: 'POST',
                url: '/Category/Create',
                data: $("#createCategory").serialize()
            }
        )
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fails");
            });

    });




    $("#imageUpload").change(function () {
        var formData = new FormData();
        var element = this;
        var totalFiles = element.files.length
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }


        $.ajax(
            {
                type: 'POST',
                url: '/Shared/UploadImage',
                data: formData,
                contentType: false,
                processData: false
            }
        )
            .done(function (response) {

                if (response.Success) {
                    $('#ImagePath').val(response.ImageURL);

                    $('#prodImage').attr('src', response.ImageURL)
                }

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fails");
            });



    });



</script>
