@model ECommerceFinal.Models.CategoryVM
@{
    ViewBag.Title = "Edit Category";
}

<h2>Edit Product</h2>
<form id="editCategory">
    <input name="ID" value="@Model.ID" type="hidden" />
    <label>Name</label>
    <input name="name" value="@Model.Name" />
    <br />
    <label>Description</label>
    <input name="description" value="@Model.Description" />

    <br />
    <input name="ImageID" value=@Model.ImageID type="hidden" />


    <input id="ImagePath" value=@Model.ImagePath name="ImagePath" type="hidden" />
    <input id="imageUpload" name="Image" type="file" accept=".jpg,.jpeg,.png" />
    <img id="prodImage" src=@Model.ImagePath class="img img-fluid" />

    <button id="btnUpdate" type="button">Update</button>


</form>



<script>
    $("#btnUpdate").click(function () {

        $.ajax(
            {
                type: 'POST',
                url: '/Category/Edit',
                data: $("#editCategory").serialize()
            }
        )
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fails");
            });

    });





    $("#imageUpload").change(function () {
        var formData = new FormData();
        var element = this;
        var totalFiles = element.files.length
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }


        $.ajax(
            {
                type: 'POST',
                url: '/Shared/UploadImage',
                data: formData,
                contentType: false,
                processData: false
            }
        )
            .done(function (response) {

                if (response.Success) {
                    $('#ImagePath').val(response.ImageURL);

                    $('#prodImage').attr('src', response.ImageURL)
                }

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fails");
            });



    });



</script>
