
@{
    ViewBag.Title = "Index";
}


<div class="spacer">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>



<div id="tableContainer">
    @{Html.RenderAction("CategoryTable");
        // Html.RenderAction("Create");
    }
</div>

<div id="actionContainer">

</div>